.card-container {
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgb(149 157 165 / 80%) 1px 8px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 25px;
  width: auto;
}

.card-container:hover {
  transform: scale(1.02);
}

.card-image {
  border-radius: 10px;
  margin: 15px;
  width: 200px;
}

.card-title {
  display: flex;
  color: black;
  margin: 0px;
  text-decoration: none;
  justify-content: center;
}
