.container-sm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 55px;
  max-width: 50%;
}

.btn-outline-secondary {
  background-color: #e3e3e3;
  margin: 5px;
}

.all {
  background-color: rgb(235, 235, 235);
}
