.main-detail {
  background: url('../images/FundoMadeiraEscura.jpeg');
  background-size:cover;
  background-attachment: fixed;
  width: 100vw;
  height: auto;
  position: sticky;
}

.img-container {
  align-items: center;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  height: 25%;
  color: rgb(235, 114, 33);
}

.btn-container {
  background-color: rgb(235, 235, 235);
  display: flex;
  height: 45px;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: -25px;
  width: 100%;
}

.image-recipe-details-container {
  margin-bottom: 10px;
}

.image-recipe-details {
  width: 100%;
}

.title-detail {
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 35px;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}

.text-category {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  color: rgb(235, 114, 33);
}

.preparation {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  color: rgb(235, 114, 33);
}

.iframe {
  height: 320px;
  margin: 25px 5px;
  width: 490px;
}

.text {
  font-family: Epilogue , sans-serif;
  margin: 15px;
  text-align: justify;
  display: flex;
  border-radius: 5px;
  color: rgb(235, 114, 33);
  /* color: #ffff; */
  box-shadow: rgb(149 157 165 / 80%) 1px 8px 24px;
  box-sizing: border-box;
}

.container-btn {
  display: flex;
  justify-content: center;
}

.favorite {
  margin: 25px;
}

.start {
  margin: 25px;
}

.carousel-scroll {
  display: flex;
  justify-content: center;
}

.carousel {
  border: none;
}
