.card-title-favorite {
  color: black;
  display: flex;
  justify-content: center;
  margin: 10px 0.1px;
  text-decoration: none;
}

.card-subtitle-favorite {
  color: black;
  display: flex;
  justify-content: center;
  margin: 5px 0.1px 25px;
  opacity: 50%;
  text-decoration: none;
}

.card-title-favorite-link {
  text-decoration: none;
}

