.title-page {
  margin: 0.1px;
}

.header-main {
  align-items: center;
  background-color: #e3e3e3;
  display: flex;
  justify-content: space-around;
  left: -2px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.profile-btn:hover {
  border: 1px solid black;
}
