.title-page {
  margin: 0.1px;
}

.header-main {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #e3e3e3;
}

.profile-btn:hover {
  border: 1px solid black;
}
