/* .header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
} */

.title-page {
  margin: 0.1px;
}

.container-searchBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.header-main {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.profile-btn:hover {
  border: 1px solid black;
}
