.form-bg {
  background-image: url('../images/papel-vazio-para-receitas-sobre-o-fundo-de-madeira-com-café-e-s-35870080.jpg');
  background-size: cover;
  display: flex;
  height: auto;
  opacity: 100%;
  width: auto;
}

.container-form {
  border: none;
  display: flex;
  height: 50%;
  opacity: 100%;
  width: 77%;
}

.row {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 35%;
  margin-top: 40%;
  width: 100%;
}

.form-container {
  display: flex;
}

.form-horizontal {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title-form {
  font-family: monospace;
  font-size: 40px;
  margin-bottom: 50px;
}

.form-control {
  margin-bottom: 25px;
}

.password {
  margin-bottom: 35px;
}

.form-btn {
  margin-bottom: 130px;
  padding: 10px 40px;
}

.register {
  color: black;
  margin-bottom: 130px;
  margin-left: 5px;
  text-decoration: none;
}
