.container-input-SearchBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.container-radioBtn-SearchBar {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1em 3em;
  opacity: 80%;
}

.Search-BTN {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.container-SearchBar {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.radio-Btn {
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 20em;
}

.input-search {
  margin-bottom: 5px;
  width: 40%;
}